<nav>
  <div class="nav">
    {% assign links = site.data.navigation %}
    <ul>
      {% for link in links %}
        {% assign id = nil %}
        {% if page.url == link.url %}
          {% assign id = 'active' %}
        {% endif %}



        <li>
          {% if link.sublinks %}

            {% assign down_title = link.title | downcase %}
            {% assign pre_sublink_id = nil %}
            {% if page.url contains down_title %}
              {% assign pre_sublink_id = 'active' %}
            {% endif %}

            <div id="{{ pre_sublink_id }}" class="btn btn--nav" onclick="this.focus()">{{ link.title }} <span class="down_arrow">▼</span> </div>
            <ul>
              {% for sublink in link.sublinks %}

              {% assign sublink_id = nil %}
              {% if page.url == sublink.url %}
                {% assign sublink_id = 'active' %}
              {% endif %}

                <li>
                  <a class="btn btn--nav btn--sub--nav" id="{{ sublink_id }}" href="{{ site.baseurl }}{{ sublink.url }}">{{ sublink.title }}</a>
                </li>
              {% endfor %}
            </ul>
          {% else %}
            <a class="btn btn--nav" id="{{ id }}" href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a>
          {% endif %}
        </li>

      {% endfor %}
    </ul>
  </div>
</nav>
