---
---

@import "{{ site.theme }}";

a {
  color: #095263;
  margin: 0;
}

body {
  font-family: "Roboto", Helvetica, sans-serif;
  font-weight: 100;
  background-color: #f9f9f9;
}

nav {
  text-align: center;
}

tr {
  background-color: #f6f7f8;
}

#active {
  background-color: #095263;
  color: white;
}

#active:hover {
  background-color: #acc2c7;
}

.btn--email {
  padding: 0px;
  margin: 0px;
  color: #4b4b4b;
  font-size: 50px;
  line-height: 25px;
}

.btn {
  border-radius: 2px;
}

.btn--email:hover {
  background-color: #095263;
  text-decoration: none;
}

.btn + .btn {
  margin: 0;
}

.btn--nav:hover {
  background-color: #e5d4e0;
  text-decoration: none;
}

.btn--nav {
  border-color: #61214d;
  color: #095263;
}

.contact {
  height: 50px;
}

.contact a {
  vertical-align: bottom;
}

.down_arrow {
  font-size: 11px;
}

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: normal;
  color: #095263;
}

.nav {
  display: inline-block;
  margin: 5px;
  width: 50%;
}

.nav > ul > li {
  display: inline-block
}

.nav > ul > li ul {
  visibility: hidden;
  position: absolute;
  top: 105%;
  left: 0;
  transition: 0.2s 1s;
}

.nav > ul > li:hover ul {
  visibility: visible;
  transition-delay: 0s;
}

.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav li {
  position: relative;
}

.nav a {
  display: block;
}

.page-header {
  background-image: linear-gradient(25deg, #61214d, #831f3b);
  height: 250px;
  background-size: cover;
  background-position: center;
  background-color: #61214d;
}

.project-tagline {
  opacity: 0.8;
}

.site-footer-owner {
  font-size: 11px;
  font-weight: 100;
  text-align: right;
}
