---
---

@import "{{ site.theme }}";

a {
  color: #095263;
}

body {
  font-family: "Roboto", Helvetica, sans-serif;
  font-weight: 100;
  background-color: #f9f9f9;
}

tr {
  background-color: #f6f7f8;
}

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: normal;
  color: #095263;
}

.page-header {
  background-image: linear-gradient(25deg, #602161, #831f3b);
  height: 350px;
  background-size: cover;
  background-position: center;
  background-color: #602161;
}

.project-tagline {
  opacity: 0.8;
}
